# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [106]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [107]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
print(requests.get(url).status_code)

200

In [108]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
#print(soup.prettify())

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [49]:
#your code
names = soup.find_all('h1',class_='h3 lh-condensed')
names = soup.select('h1[class="h3 lh-condensed"]')
names_clean = [name.text.strip() for name in names]
names_clean

['Robert Mosolgo',
 'Remy Sharp',
 'Fernand Galiana',
 'Mark Erikson',
 'Jirka Borovec',
 'Márk Sági-Kazár',
 'Jed Watson',
 'Mr.doob',
 'PySimpleGUI',
 'Guillaume Gomez',
 'Ariel Mashraki',
 'Francois Zaninotto',
 'Thomas Steiner',
 'Agniva De Sarker',
 'Kirk Byers',
 'Feross Aboukhadijeh',
 'Felix Angelov',
 'Jordi Boggiano',
 'Dries Vints',
 'Stephen Gutekanst',
 'Dotan Simha',
 'Bastian Köcher',
 'Michael Klishin',
 'Ha Thach',
 'Javier Suárez']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [104]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')

repositories = soup.select('h1[class="h3 lh-condensed"] a')

clean_repos = [repo.text for repo in repositories]
repository = [repo.replace("/\n\n",' ').strip().split()[-1] for repo in clean_repos]
user = [repo.replace("/\n\n",' ').strip().split()[0] for repo in clean_repos]
len(user)

25

In [105]:
#your code
#repositories = soup.select('h1[class="h3 lh-condensed"] a')
repositories = soup.find_all('h1',class_="h3 lh-condensed")

clean_repos = [repo.text for repo in repositories]
repository = [repo.replace("/\n\n",' ').strip().split()[-1] for repo in clean_repos]
user = [repo.replace("/\n\n",' ').strip().split()[0] for repo in clean_repos]
repository

['public-apis',
 'saleor',
 'fastapi',
 'yolov5',
 'reddit-cryptocurrency-trading',
 'chia-blockchain',
 'pool-reference',
 'zhao',
 'd2l-en',
 'wagtail',
 'edgetpuxray',
 'attention-is-all-you-need-pytorch',
 'TFace',
 'freqtrade',
 'U-2-Net',
 'tornado',
 'mesh-transformer-jax',
 'magic-wormhole',
 'python-patterns',
 'External-Attention-pytorch',
 '3d-photo-inpainting',
 'segmentation_models.pytorch',
 'frida',
 'learn_python3_spider',
 'Telethon']

#### Display all the image links from Walt Disney wikipedia page

In [111]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
html = requests.get(url).content
soup= BeautifulSoup(html,'lxml')
requests.get(url).status_code

200

In [117]:
#your code
images_html = soup.find_all('a',class_="image")

images = [image['href'] for image in images_html]
images

['/wiki/File:Walt_Disney_1946.JPG',
 '/wiki/File:Walt_Disney_1942_signature.svg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:Disneyland_Resort_logo.svg',
 '/wiki/File:Animation_disc.svg',
 '/wiki/File:P_vip.svg',
 '/wiki/File:Magic_Kingdom_castle.jpg',
 '/wiki/File:Video-x-generic.svg',
 '/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 '/wiki/File:Blank_television_set.svg',
 '/wiki/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [124]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
try:
    if requests.get(url).status_code == 200:
        print('coneccion estalecida 200')
    else:
        raise ServerError
except:
    print('error al establecer coneccion')

coneccion estalecida 200

In [133]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content,'lxml')

links_to_clean = soup.select('div[class="mw-parser-output"] ul li a')
links = [link['href'] for link in links_to_clean]
links

['/wiki/Pythons',
 '/wiki/Python_(genus)',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon']

#### Number of Titles that have changed in the United States Code since its last release point

In [135]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

try:
    if requests.get(url).status_code == 200:
        print('Coneccion establecida code 200')
    else:
        raise ServerError
except:
    print('error al establecer coneccion')

Coneccion establecida code 200

In [146]:
#your code
html = requests.get(url).content
soup =  BeautifulSoup(html,'lxml')
titles_to_clean = soup.find_all('div',class_="usctitlechanged")
titles = [title.text.strip().replace('٭',' ') for title in titles_to_clean]
titles

['Title 5 - Government Organization and Employees  ',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 10 - Armed Forces  ',
 'Title 12 - Banks and Banking',
 'Title 15 - Commerce and Trade',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 26 - Internal Revenue Code',
 'Title 29 - Labor',
 'Title 31 - Money and Finance  ',
 "Title 38 - Veterans' Benefits  ",
 'Title 39 - Postal Service  ',
 'Title 41 - Public Contracts  ',
 'Title 42 - The Public Health and Welfare',
 'Title 45 - Railroads',
 'Title 47 - Telecommunications',
 'Title 49 - Transportation  ',
 'Title 50 - War and National Defense',
 'Title 54 - National Park Service and Related Programs  ']

#### A Python list with the top ten FBI's Most Wanted names

In [148]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [158]:
#your code 
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
names_to_clean=soup.select("h3[class='title'] a")
names = [name.text for name in names_to_clean]
names

['EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ROBERT WILLIAM FISHER',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [6]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [87]:
#your code
import unidecode
import re
from functools import reduce
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')


date_time_to_clean = soup.select("td[class='tabev6'] b a")
date_time = [dt.text.split('\xa0\xa0\xa0') for dt in date_time_to_clean]

time=[]
date=[]
for i in date_time:
    date.append(i[0])
    time.append(i[1])

In [47]:
latitude_longitude_to_clean = soup.select("td[class='tabev1']")
latitude_longitude = [la_lo.text.replace('\xa0','') for la_lo in latitude_longitude_to_clean]

latitude=[]
longitude=[]
for i,element in enumerate(latitude_longitude):
    if i%2==0:
        latitude.append(element)
    else:
        longitude.append(element)

In [48]:
latitude_longitude_to_clean = soup.select("td[class='tabev2']")
latitude_longitude = [la_lo.text.replace('\xa0','') for la_lo in latitude_longitude_to_clean]
cardinal_directions = [i for i in latitude_longitude if i in ('N','S','E','W') ]
direction_la = []
direction_lo = []

for i,element in enumerate(cardinal_directions):
    if i%2==0:
        direction_la.append(element)
    else:
        direction_lo.append(element)

In [69]:
regions_to_clean = soup.select("td[class='tb_region']")
region_name = [region.text.strip('\xa0') for region in regions_to_clean]

In [70]:
print(len(date_time))
print(len(longitude))
print(len(latitude))
print(len(direction_la))
print(len(direction_lo))
print(len(region_name))

50
50
50
50
50
50

In [94]:
data = np.array([date,time,latitude,direction_la,longitude,direction_lo,region_name]).T

In [95]:
#list(zip(date,time,latitude,direction_la,longitude,direction_lo,region_name))

In [98]:
import pandas as pd


df=pd.DataFrame(data,columns=['date','time','latitude','direction_la','longitude','direction_lo','region'])
df.tail(20)

,date,time,latitude,direction_la,longitude,direction_lo,region
30,2021-07-06,23:06:39.4,18.63,N,69.03,W,STRAIT OF GIBRALTAR
31,2021-07-06,23:03:24.0,28.74,S,71.48,W,DOMINICAN REPUBLIC
32,2021-07-06,23:00:06.0,36.37,N,27.03,E,"OFFSHORE ATACAMA, CHILE"
33,2021-07-06,23:00:04.0,28.78,S,71.60,W,DODECANESE IS.-TURKEY BORDER REG
34,2021-07-06,22:44:27.0,31.49,S,69.53,W,"OFFSHORE ATACAMA, CHILE"
35,2021-07-06,22:31:27.0,45.40,N,15.08,E,"SAN JUAN, ARGENTINA"
36,2021-07-06,22:24:55.0,12.32,N,144.58,E,CROATIA
37,2021-07-06,22:17:57.7,19.37,N,155.21,W,GUAM REGION
38,2021-07-06,22:10:28.7,19.24,N,155.43,W,"ISLAND OF HAWAII, HAWAII"
39,2021-07-06,22:07:36.6,21.34,S,69.87,W,"ISLAND OF HAWAII, HAWAII"
40,2021-07-06,21:54:20.0,18.04,N,96.93,W,"TARAPACA, CHILE"
41,2021-07-06,21:46:41.0,19.21,N,155.42,W,"OAXACA, MEXICO"
42,2021-07-06,21:46:36.9,19.16,N,155.46,W,"ISLAND OF HAWAII, HAWAII"
43,2021-07-06,21:44:51.6,19.39,N,102.18,W,"ISLAND OF HAWAII, HAWAII"
44,2021-07-06,21:42:37.0,28.12,N,17.52,W,"MICHOACAN, MEXICO"
45,2021-07-06,21:40:28.4,17.68,S,70.01,W,"CANARY ISLANDS, SPAIN REGION"
46,2021-07-06,21:40:08.7,1.99,N,127.67,E,SOUTHERN PERU
47,2021-07-06,21:35:01.1,54.42,N,159.67,W,"HALMAHERA, INDONESIA"
48,2021-07-06,21:34:51.4,19.49,N,102.19,W,SOUTH OF ALASKA
49,2021-07-06,21:17:30.0,19.49,N,102.21,W,"MICHOACAN, MEXICO"

#### Display the date, and title of upcoming hackathon events as a Pandas dataframe table

In [1]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

Error al establecer coneccion

In [104]:
#your code

# *********** La seccion de la pagina ya no existe ************************
url ='https://hackevents.co/hackathons'

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [34]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/LopezObrador_'

try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [85]:
from selenium import webdriver
import time
#path_driver = "/home/jassielmg/Downloads/chromedriver_linux64/chromedriver.exe"
driver = webdriver.Chrome("/home/jassielmg/Downloads/chromedriver_linux64/chromedriver")
driver.get('https://twitter.com/LopezObrador_')
#tweets = driver.find_elements_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div[2]/div/div') 
time.sleep(3)
page_source = driver.page_source
driver.quit()

In [86]:
import re
soup = BeautifulSoup(page_source,'html5')
s = soup.find('div',class_='css-1dbjc4n r-14lw9ot r-1h3ijdo')
tweets = s.text
tweets = re.findall(r'(\d*,\d*)',tweets)[0]
print("Number of Lopez Obrador's Tweets: ",tweets)

Number of Lopez Obrador's Tweets:  5,559

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [87]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/LopezObrador_'

try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [88]:
#your code
from selenium import webdriver
import time
#path_driver = "/home/jassielmg/Downloads/chromedriver_linux64/chromedriver.exe"
driver = webdriver.Chrome("/home/jassielmg/Downloads/chromedriver_linux64/chromedriver")
driver.get('https://twitter.com/LopezObrador_')
#tweets = driver.find_elements_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div[2]/div/div') 
time.sleep(3)
page_source = driver.page_source
driver.quit()

In [103]:
import re
soup = BeautifulSoup(page_source,'html5')
s = soup.select("span[class='css-901oao css-16my406 r-18jsvk2 r-poiln3 r-b88u0q r-bcqeeo r-qvutc0'] span")
followers = s[1].text
print("Number of lopez Obrador's followers: ",followers)

Number of lopez Obrador's followers:  8M

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [105]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [168]:
#your code
import unidecode
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')

language_to_clean = soup.select("a strong")
language = [i.text for i in language_to_clean]

number_articles_to_clean = soup.select('small bdi[dir="ltr"]')
number_articles = [re.sub(r'\xa0','',art.text).replace('+','') for art in number_articles_to_clean]
number_articles

['6326000',
 '1275000',
 '1696000',
 '2590000',
 '1734000',
 '2340000',
 '1206000',
 '1701000',
 '1066000',
 '1480000']

#### A list with the different kind of datasets available in data.gov.uk

In [170]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [173]:
#your code 
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
kind_datasets_to_clean = soup.select("h3[class='govuk-heading-s dgu-topics__heading'] a")
kind_datasets = [title.text for title in kind_datasets_to_clean]
kind_datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [189]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [240]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')

language_to_clean = soup.select("tr>td:nth-child(2)")
language = [i.text.strip().strip('[9]10') for i in language_to_clean]
languages = language[1:92]

speakers_to_clean = soup.select("tr>td:nth-child(3)")
speakers =[s.text.strip() for s in speakers_to_clean]
speakers = speakers[:91]

df = pd.DataFrame(np.array([languages,speakers]).T,columns=['languages','number of speakers'])

df.head(10)

                         languages number of speakers
0                 Mandarin Chinese                918
1                          Spanish                480
2                          English                379
3  Hindi (sanskritised Hindustani)                341
4                          Bengali                300
5                       Portuguese                221
6                          Russian                154
7                         Japanese                128
8                  Western Punjabi               92.7
9                          Marathi               83.1

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [241]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [ ]:
# your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')

soup.select()

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [247]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [307]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')


movie = soup.select("tr td[class=titleColumn] a")
movie = [m.text for m in movie]

year = soup.select("tr td span[class=secondaryInfo]")
year = [y.text.strip('()') for y in year]

director = soup.select("tr td[class=titleColumn] a")
director = [d['title'].split(',')[0][:-7] for d in director]

starts = soup.select("tr td[class=titleColumn] a")
starts = [','.join(d['title'].split(',')[1:])[1:] for d in starts]

rating = soup.select("tr td[class='ratingColumn imdbRating'] strong")
rating = [r.text for r in rating]


#df = pd.DataFrame(list(zip(movie,year,director,starts,rating)))

df = pd.DataFrame({
    'Movie':movie,
    'Initial release':year,
    'Director':director,
    'Principal actors':starts,
    'Rating':rating
})

df

,Movie,Initial release,Director,Principal actors,Rating
0,Sueño de fuga,1994,Frank Darabont,"Tim Robbins, Morgan Freeman",9.2
1,El Padrino,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino",9.1
2,El padrino 2a parte,1974,Francis Ford Coppola,"Al Pacino, Robert De Niro",9.0
3,Batman: El Caballero de la Noche,2008,Christopher Nolan,"Christian Bale, Heath Ledger",9.0
4,12 hombres en pugna,1957,Sidney Lumet,"Henry Fonda, Lee J. Cobb",8.9
...,...,...,...,...,...
245,Fanny y Alexander,1982,Ingmar Bergman,"Bertil Guve, Pernilla Allwin",8.0
246,Drishyam,2013,Jeethu Joseph,"Mohanlal, Meena",8.0
247,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,1997,Hideaki Anno,"Megumi Ogata, Megumi Hayashibara",8.0
248,Soul,2020,Pete Docter,"Jamie Foxx, Tina Fey",8.0
249,Amanecer,1927,F.W. Murnau,"George O'Brien, Janet Gaynor",8.0

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [8]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:Tepic

In [9]:
# your code
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [26]:
response = requests.get(url).json()

df = pd.json_normalize(response)
df.columns

Index(['weather', 'base', 'visibility', 'dt', 'timezone', 'id', 'name', 'cod',
       'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'wind.speed', 'wind.deg', 'clouds.all', 'sys.type', 'sys.id',
       'sys.country', 'sys.sunrise', 'sys.sunset'],
      dtype='object')

In [33]:
df.iloc[:,:-5]

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,10000,1625940061,-21600,3981941,Tepic,200,-104.9,21.5,27.72,29.15,27.72,28,1020,61,0,0,75

#### Book name, price and stock availability as a pandas dataframe.

In [310]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
try:
    if requests.get(url).status_code == 200:
        print('coneccion establecida codigo:200')
    else:
        raise ServerError
except:
    print('Error al establecer coneccion')

coneccion establecida codigo:200

In [322]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.content,'lxml')

titles = soup.select('h3 a')
title = [t['title'] for t in titles]

prices = soup.select("p[class='price_color']")
price = [p.text for p in prices]

stocks = soup.select("p[class='instock availability']")
stock = [s.text.strip() for s in stocks]

df = pd.DataFrame({
    'Book':title,
    'Price':price,
    'Status':stock
})

df

                                                 Book   Price    Status
0                                A Light in the Attic  £51.77  In stock
1                                  Tipping the Velvet  £53.74  In stock
2                                          Soumission  £50.10  In stock
3                                       Sharp Objects  £47.82  In stock
4               Sapiens: A Brief History of Humankind  £54.23  In stock
5                                     The Requiem Red  £22.65  In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34  In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93  In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60  In stock
9                                     The Black Maria  £52.15  In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99  In stock
11                              Shakespeare's Sonnets  £20.66  In stock
12                                        Set Me Free  £17.46  In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29  In stock
14                          Rip it Up and Start Again  £35.02  In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  In stock
16                                               Olio  £23.88  In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59  In stock
18                       Libertarianism for Beginners  £51.33  In stock
19                            It's Only the Himalayas  £45.17  In stock